$colors: (
    "black": #252525,
    "white": #ffffff,
    "grey": #848484,
    "secundary-one": #f9b806,
    "secundary-two": #2751F5,
);

$font: (
    "principal": 'Karla',
    "secundary": 'Inconsolata'
);

$sizes: (
    "padding": .9375rem,
    "border-radius": .3125rem,
    "gap": 1.25rem,
    "shadow-size-x": .25rem,
    "shadow-size-y": .25rem,
);

$font_size: (
    "xs": 0.5em,
    "l": 1em,
    "m": 2em,
    "s": 3em,
    "xl": 4.5em,
    "xxl": 5em
);

$breackpoints: (
    "small": 480px,
    "medium": 768px,
    "large": 1024px,
    "largeXL": 1440px
);