$colors: (
    "black": #222831,
    "white": #EEEEEE,
    "secundary-one": #FBD46D,
    "secundary-two": #4F8A8B,
);

$alpha-colors: (
    "alpha-20": #2228311b,
    "alpha-50": #2228317d,
    "alpha-80": #222831be,
);

$font: (
    "principal": 'Work Sans',
);

$darked-colors: (
    "black": #222831,
    "white": #eff4fb,
    "secundary-one": #FBD46D,
    "secundary-two": #4F8A8B,
    "alpha-20": #eeeeee1d,
    "alpha-50": #eeeeee6d,
    "alpha-80": #eeeeeebe,
);