$colors: (
    "black": #212121,
    "white": #f1efef,
    "ligth_black": #3B3B3B,
    "secundary-one": #FF5151,
    "secundary-two": #08D9D6,
);

$font: (
    "principal": 'Kdam Thmor Pro',
);

$sizes: (
    "padding": .9375rem,
    "border-radius": 1.5625rem,
    "gap": .9375rem,
    "shadow-size-x": .25rem,
    "shadow-size-y": .25rem,
);

$font_size: (
    "xs": 0.5em,
    "l": 1em,
    "m": 2em,
    "s": 3em,
    "xl": 4.5em,
    "xxl": 5em
);

$breackpoints: (
    "small": 480px,
    "medium": 650px,
    "large": 1024px,
    "largeXL": 1440px
);